body {
  background-color: #efefef;
}
header {
  display: block;
  border-radius: 50px;
  padding: 5px;
  background-color: gray;
}
h1,
blockquote {
  text-align: center;
}
h4 {
  color: #666666;
}
footer {
  display: block;
  border-radius: 50px;
  padding: 5px;
  margin-top: 150px;
  background-color: grey;
}
.footerContainer {
  text-align: center;
}
.taskTwoHeadingFive {
  font-weight: bold;
  color: #666666;
  margin-bottom: 5px;
}
